<!doctype html>
<html>
<head>
  <title>Sagar Patel: resume</title>
  <link href="bower_components/font-awesome/css/font-awesome.css" rel="stylesheet">
  <link href="index.css" rel="stylesheet">
  <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0"/>
</head>
<body>
  <header>
    <h1>
      <span>"sagar patel"</span>
      <br>
      <small class="comment">// actively seeking for full-time opportunity as a Front End Developer </small>
    </h1>
    <div class="personal-info">
      <a href="mailto:spatsagar@gmail.com" class="email">
        <i class="fa fa-envelope"></i>
        <span class="text">spatsagar@gmail.com</span>
      </a>
      <a href="tel:4096004462" class="phone-number">
          <i class="fa fa-phone"></i>
          <span class="text">+1 409-600-4462</span>
        </a>
        <a href="https://www.google.com/maps/place/54+Winthrop+Ave,+Albany,+NY+12203/@42.6700799,-73.7983677,17z/data=!4m7!1m4!3m3!1s0x89de0affe0289497:0xce5bb7a552f2bd13!2s54+Winthrop+Ave,+Albany,+NY+12203!3b1!3m1!1s0x89de0affe0289497:0xce5bb7a552f2bd13" target="_blank" class="location">
          <i class="fa fa-map-marker"></i>
          <span class="text">houston</span>
        </a>
        <a href="http://www.google.com" target="_blank"class="download">
          <i class="fa fa-cloud-download"></i>
          <span class="text">download</span>
        </a>
      </div>
    </header>
    <div class="summary">
      <h2 class="text">
        <i class="fa fa-briefcase"></i>
        summary
      </h2>
      <ul>
        <li> Extensive experience in developing web pages using HTML5, CSS3, JavaScript with ES5 and ES6, TypeScript, jQuery, Angular2, Angular JS, React JS, Redux, Node.js</li>
        <li> Expertise in developing large scale Single Page Applications (SPA) using Angular JS (native and UI router) and Angular 2/4 (Router module)</li>
        <li> Expertise in ReactJS and working with React Redux architecture for complex state management and using React-Router and ES6 to develop Single Page Applications</li>
        <li> Experienced in working with Redux architecture using complex Object-Oriented concepts in improving the performance of the websites.</li>
        <li> Experience in using React JS components, Forms, Events, Keys, Router, plus Redux, Animations and Flux concept.</li>
        <li> Good Experience in React JS for creating interactive UI's using One-way data flow, Virtual DOM, JSX concepts.</li>
        <li> Expertise in React Component for UX-Library consisted of Button, Checkbox, Input, Icons, Toggle Button, Dropdown, Multi-Level Dropdown and many more.</li>
        <li> Worked closely with Node.js and Express in designing Restful API.</li>
        <li> Fluent in developing applications using Angular2 features like components, pipes, Promises, modules, templates, metadata, data binding, routing and Angular CLI.</li>
        <li> Expert in all aspects of AngularJS like routing, modularity, dependency injection, service calls and custom directives for single page applications.</li>
        <li> Working knowledge using component based architecture provided by Angular2 with Typescript rendering the components using the additional components called custom HTML tags.</li>
        <li> Good knowledge on creating services with Angular 2 @injectable property, as to make the service available for dependency injection when creating components.</li>
        <li> Hands on experience on CSS preprocessors such as LESS and SAAS.</li>
        <li> Experience in performing unit-testing using Jasmine, Karma and end-to-end testing using Protractor.</li>
        <li> Experience in build tools, Gulp, Grunt, NPM, Webpack, Webpack-loaders, Browserify.</li>
      </ul> </div>
     
    
    <div class="skills clearfix">
      <h2 class="text">
        <i class="fa fa-bolt"></i>
        technical skills
      </h2>
      <div class="box">typescript</div>
      <div class="box">c#</div>
      <div class="box">javascript</div>
      <div class="box">angular4</div>
      <div class="box">angular2</div>
      <div class="box">angularJS</div>
      <div class="box">react.js</div>
      <div class="box">redux</div>
      <div class="box">jquery</div>
      <div class="box">ajax</div>
      <div class="box">node.js</div>
      <div class="box">python</div>
      <div class="box">Sass</div>
      <div class="box">MongoDB</div>
      <div class="box">mysql</div>
      <div class="box">html5</div>
      <div class="box">css3</div>
      <div class="box">ui/ux design</div>
      <div class="box">oop</div>
      <div class="box">git</div>
      <div class="box">android</div>
    </div>

    <div class="experience">
      <h2 class="text">
        <i class="fa fa-briefcase"></i>
        professional experience
      </h2>
      <div class="job-title">Front End Developer </div>
      <div class="job-title">AIG (Houston,TX)   June'17 - Present </div>
      <ul>
        <li>
          Analyze business requirements, participated in technical design, development and testing of various modules assigned.
        </li>
        <li>
          Used ReactJS and MongoDB for creating single page applications.
        </li>
        <li>
          Created UI templates for final look and feel using HTML5,CSS3,SAAS and JavaScript.
        </li>
        <li>
          Worked in using React JS components, Forms, Events, Keys, Router concept.
        </li>
        <li>
          Good experience with asynchronous redux implementation of custom middleware using action creator. Also implemented redux-thunk.
        </li>
        <li>
          Maintained states in the stores and dispatched the actions using redux.
        </li>
        <li>
          In Phase Two, worked closely with the Back-End team to display data using the Custom Components, library Components, and Redux.
        </li>
        <li>
          Used Middleware, Redux-Promise in application to retrieve data from Back-End and to also perform RESTFUL services.  
        </li>
        <li>
          Used axios for calling the Restful web services calls like POST, PUT, DELETE and GET methods.
        </li>
        <li>
          Monitoring the offshore work and providing technical help to the offshore team for their JIRA tickets.
        </li>
      </ul>
      <div class="job-title">UI Front End Developer</div>
      <div class="job-title">Dick's Sporting Goods (Caraopolis,PA)   September'16 - March'17</div>
      <ul>
        <li>
           Involved in software detailed design, coding and testing.
        </li>
        <li>
           Responsible for building user interactive Web pages using HTML5, AJAX, ES6, Bootstrap, Typescript and Angular 2/4.
        </li>
        <li>
           Responsible for all client-side UI/UX Validation and implementing Business logic.
        </li>
        <li>
           Created Angular2 services to fetch data from API and created dynamic UI using HTML5, SAAS and Angular 2 components.
        </li> 
        <li>
           Created Angular 2 components, implemented Interpolation, @Input variables, @Output variables, Bootstrapping, *ngFor, *ngIf, else, ng-template, custom event-binding the click event, custom property-binding, and Component decorator.
        </li>  
        <li>
           Created services with Angular 2 @injectable property, as to make the service available for dependency injection (through Constructor) when creating components.
        </li> 
        <li>
           Used MongoDB for automatic scaling and performance.
        </li>
        <li>
           Performed Unit testing on angular applications using tools like Karma, Jasmine.
        </li> 
      </ul>
      
      <div class="job-title">UI Developer</div>
      <div class="job-title">Payguru.in (Gujarat,India)   April'14 - March'16</div>
      <ul>
        <li>
           Gathered functional requirements, Created design documents related to HRMS.
        </li>
        <li>
           Built the Responsive UI/UX screen using HTML 5, CSS 3 and Bootstrap.
        </li>
        <li>
           Responsible for all client-side UI/UX Validation and implementing Business logic based on user selection using jQuery, jQuery UI and Angular JS.
        </li>
        <li>
           Developed single-page application with AngularJS (incl. routing, $resources etc) using UI and Native-routers.
        </li>
        <li>
           Involved in developing various AngularJS directives, filters and services.
        </li>
        <li>
           Implemented $promises to handle result of asynchronous functions.
        </li>
        <li>
           Worked on Cross-Browser compatibility and fixed the bugs for several browsers.
        </li>
        <li>
           Used agile methodology, having valuable experience on using.
        </li>
      </ul>

      
    <div class="job-title">Junior UI Developer</div>
    <div class="job-title">Flovel Valves Pvt. Ltd. (Gujarat,India)   July'12 - March'14</div>
      <ul>
        <li> 
           Involved in software architecture, detailed design, coding, testing and creation of functional specs of Inventory management system. 
        </li>
        <li>
           Created User friendly and advance application using HTML5, CSS3, Bootstrap, JavaScript, AJAX and Angular Js and jQuery.
        </li>
        <li> 
           Many AngularJS capabilities are being used including Customs directives, two-way data-binding, routing, templating, factories, services, etc.
        </li>
        <li> 
           Worked closely with UI/UX designers to understand the detailed intuitive UI/UX prototypes and components.
        </li>
        <li> 
           Review system requirements and translate into design documents, establish specific solutions, and leading the efforts including programming and testing that culminate in business acceptance of the results.
        </li>
      </ul>
    </div>


    <div class="more-info clearfix">
      <h2 class="text">
        <i class="fa fa-code"></i>
        about me
      </h2>
      <ul>
        <li>
          Actively looking for full time opportunities for Mean Stack Developer.
        </li>
        <li>
          Lamar University, MSCS.
        </li>
        <li>
          Loves coffee<i class="fa fa-coffee" aria-hidden="true"></i>
        </li>
        <li>
          Manchaster United and Indian Cricket team fan.
        </li>
      </ul>
    </div>
  </body>
  </html>
